# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Windows Zone Identifier
*Zone.Identifier
*:Zone.Identifier

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.code-workspace

# JetBrains
*.iml
out/

# Visual Studio
.vs/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# =========================
# MATLAB
# =========================
*.asv
*.m~
*.autosave
slprj/
*.slxc

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# DATA / TEMP
# =========================
tmp/
temp/
*.tmp

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# BUILD / CACHE
# =========================
.cache/
coverage/
htmlcov/
