body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../image/space.jpg'); /* Замініть 'image/space.jpg' на шлях до вашого зображення */
    background-size: cover; /* Розмір зображення буде змінений таким чином, щоб воно повністю покривало фон */
    background-position: center;
    position: relative;
}
button {
    padding: 20px 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px; /* Додатково */
    position: absolute; /* Додатково */
    background-color: #FFDB5C;
}
#Hard {
    top: 60%; /* Розташувати кнопку на половині висоти */
    left: 50%; /* Розташувати кнопку на половині ширини */
    transform: translate(-50%, -50%); /* Центрувати кнопку */
}
#Easy {
    bottom: 50%; /* Знизу */
    left: 50%; /* Справа */
    transform: translate(-50%, -50%);
}
#Middle {
    bottom: 40%; /* Знизу */
    left: 50%; /* Справа */
    transform: translate(-50%, -50%);
}